<div class="profile-container">
    <h2>User Profile</h2>
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div>
        <label for="userID">User ID:</label>
        <input id="userID" name="userID" [(ngModel)]="user.userID" [readonly]="true" />
      </div>
  
      <div>
        <label for="username">Username:</label>
        <input id="username" name="username" [(ngModel)]="user.username" />
      </div>
  
      <div>
        <label for="birthdate">Birthdate:</label>
        <input id="birthdate" name="birthdate" type="date" [(ngModel)]="user.birthdate" />
      </div>
  
      <div>
        <label for="age">Age:</label>
        <input id="age" name="age" type="number" [(ngModel)]="user.age" />
      </div>
  
      <div>
        <label for="email">Email:</label>
        <input id="email" name="email" type="email" [(ngModel)]="user.email" />
      </div>
  
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
  